#wrapper {
    width: 560px;
    margin: 10px auto 10px auto;
    /* top, right, bottom, left */
    height: 1000px;
    background: #eeeeee;
}

header {
    width: 100%;
    height: 50px;
    background:#dddddd;
    text-align: center;
    
}

.article-header {
    background: #ffffff;
}

nav {
    background: #dddddd;
    width: 150px;
    float: left;
}

aside {
    background: #dddddd;
    width: 150px;
    float: right;
}

article {
    /*border: 1px solid #000000; */
    background: #ffffff;
    width: 260px;
    float: left;
}

